<span class="difficulty"> 
    {% if value == 1 %}                                                               <i class="glyphicon glyphicon-time"></i>
    {% elif value == 2 %}
        <i class="glyphicon glyphicon-time"></i>
        <i class="glyphicon glyphicon-time"></i>
    {% elif value == 3 %}                                       
        <i class="glyphicon glyphicon-time"></i>
        <i class="glyphicon glyphicon-time"></i>
        <i class="glyphicon glyphicon-time"></i>
    {% elif value == 4 %}
        <i class="glyphicon glyphicon-time"></i>
        <i class="glyphicon glyphicon-time"></i>
        <i class="glyphicon glyphicon-time"></i>
        <i class="glyphicon glyphicon-time"></i>
    {% elif value == 5 %}
        <i class="glyphicon glyphicon-time"></i>
        <i class="glyphicon glyphicon-time"></i>
        <i class="glyphicon glyphicon-time"></i>
        <i class="glyphicon glyphicon-time"></i>
        <i class="glyphicon glyphicon-time"></i>
    {% endif %}
</span>